In [73]:
import psycopg2
import pandas as pd

sqluser = 'datathon'
sqlpass = 'datathon'
dbname = 'mimic'
schema_name = 'mimiciii,public'

con = psycopg2.connect(dbname=dbname, user=sqluser, password=sqlpass)

In [10]:
# Choose the right schema
query_schema = 'set search_path to ' + schema_name + ';'

query = query_schema + """
SELECT subject_id, hadm_id, icustay_id
FROM icustays
LIMIT 10
"""
df = pd.read_sql_query(query, con)
df.head()

   subject_id  hadm_id  icustay_id
0         268   110404      280836
1         269   106296      206613
2         270   188028      220345
3         271   173727      249196
4         272   164716      210407

## Ventdurations

In [24]:
# Choose the right schema
def get_query(colList, table, limit):
    query_schema = 'set search_path to ' + schema_name + ';'

    query = query_schema + """
    SELECT %s
    FROM %s
    LIMIT %s
    """ % (' ,'.join(colList), table, limit)     
    df = pd.read_sql_query(query, con)
    return df

## tables with information 

inputevents_mv : patientweight
ventdurations 
! ventfirstday
vent

In [82]:
events = get_query(['icustay_id','charttime','value'], 'mpwr_chartevents_vent', 200)

In [98]:
duration= get_query('*', 
                   'mpwr_vent_unpivot', 100)

In [100]:
duration.columns

Index(['icustay_id', 'charttime', 'tidal_volume', 'tidal_volume_set',
       'tidal_volume_spont', 'tidal_volume_observed', 'plateau_pressure',
       'peep', 'peak_insp_pressure', 'resp_rate_set', 'resp_rate_total',
       'fio2', 'extubated'],
      dtype='object')

In [59]:
test[test.isnull()].any()

icustay_id    False
charttime     False
value         False
dtype: bool

In [67]:
test = get_query(['icustay_id', 'charttime'], 'mpwr_vent_unpivot', 'ALL')

In [68]:
test.shape

(7202064, 2)

In [69]:
test.head()

   icustay_id           charttime
0    200001.0 2181-11-25 19:07:00
1    200001.0 2181-11-25 19:16:00
2    200001.0 2181-11-25 19:18:00
3    200001.0 2181-11-25 20:00:00
4    200001.0 2181-11-25 21:00:00

In [70]:
con.close()

In [ ]:
q1 = '''SELECT adm.hadm_id, admittime, dischtime, adm.deathtime, pat.dod
-- integer which is 1 for the first hospital admission
, ROW_NUMBER() OVER (PARTITION BY hadm_id ORDER BY admittime) AS FirstAdmission
FROM admissions adm
INNER JOIN patients pat
ON adm.subject_id = pat.subject_id
-- filter out organ donor accounts
WHERE lower(diagnosis) NOT LIKE '%organ donor%'
-- at least 15 years old
AND extract(YEAR FROM admittime) - extract(YEAR FROM dob) > 15
-- filter that removes hospital admissions with no corresponding ICU data
AND HAS_CHARTEVENTS_DATA = 1'''

In [ ]:
SELECT adm.hadm_id, admittime, dischtime, adm.deathtime, pat.dod, ROW_NUMBER() OVER (PARTITION BY hadm_id ORDER BY admittime) AS FirstAdmission FROM admissions adm LIMIT 20

In [79]:
mortality = get_query(['hadm_id', 'admittime', 'dischtime',
                       'deathtime'], 'admissions', 10)

In [87]:
eh = get_query('*', 'elixhauser_ahrq', 10)

In [90]:
meanMax

NameError: name 'meanMax' is not defined

In [89]:
final_final_table

NameError: name 'final_final_table' is not defined

In [ ]:
var = pd.read_sql_query('q1')